@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: "Rubik", serif, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: normal;

  color: #f7f7f6;
  background-image: url('/images/blue-red-painted-brick-43fe8bece38832fa511beab2f1e9d691.webp');
  background-color: purple;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

a {
  font-weight: 500;

}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 6rem;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal; 
}
h2 {
  font-size: 3.75rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1.2rem;
}
button {
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9rem;
}

.container {
  margin: auto;
}